  <h2>Login</h2>
    <div>
      <form action="/login" method="post">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <div>
          <button class="btn btn-default">Log In</button>
        </div>
      </form>
    </div>
    <div>
      <a href="/register">Sign Up</a>
    </div>
  </div>
</div>
